<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center" ></h4>
              </div>

            <div class="modal-body row"> 
                <div class="col-md-5 col-sm-5 ">
                    <div class="candidate wow fadeInRight">
                        <div id="desc-product-modal">   
                        </div> 
                        <a href="/frontend/products_all" class="btn btn-purchase">
                          Todas nuestras fragancias
                        </a>
                    </div>     
                </div>
                <div class="col-md-6 col-sm-6 col-md-offset-1 col-sm-offset-1">
                    <div class="candidate wow fadeInRight">
                        <div id="img-product-modal">
                        </div>
                    </div>     
                </div>
            </div>
        </div>
    </div>
</div>