<!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              Nuestro Blog
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="/">
                  Inicio
                </a>
              </li>
              </li>
              <li class="active">
                Blog
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="container">
      <div class="row">
        <!--blog start-->
        <div class="col-lg-11">
          <div class="blog-item">
            <div class="row">
              <div class="col-lg-2 col-sm-2">
                <div class="date-wrap">
                  <span class="date">
                    22
                  </span>
                  <span class="month">
                    Marzo
                  </span>
                </div>

              </div>
              <div class="col-lg-10 col-sm-10">

                
                  <img alt="perfumania" src="/site/img/blog.jpg" height="300" width="200" float="left" alt=""/>
                

              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-sm-2 text-right">
                <div class="author">
                  Por
                  <a href="#">
                    Perfumania
                  </a>
                </div>
                
              </div>
              <div class="col-lg-10 col-sm-10">

                <h1>
                  <a>
                    Los beneficios de utilizar un buen perfume.
                  </a>
                </h1>
                <p>
                  A la mayoría de las mujeres nos fascina usar perfume ya que nos da un aire distinto, refuerza nuestra personalidad y nos hace sentirnos más seguras y atractivas. Cada una de nosotras tenemos una serie de aromas favoritos que solemos utilizar según sea nuestro estado de ánimo, la temporada y la ocasión. A lo largo de la historia, el perfume ha sido utilizado por muchas razones y ha demostrado ser un bien muy valioso para las mujeres tanto en tiempos pasados como en nuestros días. Y aunque el perfume es un lujo y no una necesidad, su popularidad crece cada año.

                  Este crecimiento e interés en los perfumes viene motivado por diferentes factores, que pasamos a enumerar.
                </p>
                <blockquote>
                  <p>
                    Efecto en nuestro cerebro
                  </p>
                  
                </blockquote>
                <p>
                  Uno de los beneficios más importantes que tienen los perfumes es el efecto positivo que producen los diferentes aromas en nuestro cerebro. Cada olor, ya sea natural o sintético, emite una serie de partículas que entran por las fosas nasales de nuestra nariz. Nuestra nariz contiene una gran cantidad de neuronas receptoras que toman este olor y envían un mensaje al cerebro que permite a las personas reconocer tanto el olor como identificar de donde proviene ese olor. 

                  Estos aromas despiertan en nosotros diferentes reacciones y nos generan diferentes estímulos que van desde la nostalgia hasta llenarnos de energía. Hay estudios que afirman que la capacidad de oler (el sentido del olfato) tiene un impacto positivo en las personas y se ha demostrado que las personas que no tienen sentido del olfato tienen una vida menos feliz, menos placentera y menos plena que aquellas personas que pueden disfrutar de los distintos olores.
                </p>
                <blockquote>
                  <p>
                    Recuerdo de seres queridos
                  </p>
                  
                </blockquote>
                <p>
                  Los aromas evocan recuerdos y este aspecto puede significar algo muy importante en el comportamiento humano. Muchas de nosotras nos sentimos felices cuando olemos alguna fragancia que nos recuerda a un pariente querido, a un amigo o a un cónyuge. Es interesante ver cómo cuando alguna persona utiliza un perfume con cierta frecuencia, sus amigos y familiares empiezan a asociar ese olor con esa persona. También es interesante comprobar cómo el mismo perfume, en dos personas distintas tiene un olor distinto.
                </p>  
                <blockquote>
                  <p>
                    Dice mucho de ti
                  </p>
                  
                </blockquote>
                <p>
                  El perfume que eliges también indica o transmite a la gente algo acerca de ti, ayudándote a consolidar tu personalidad. Un perfume comunica cosas sobre ti a los que te rodean, al igual como lo hace llevar ropa de diseño, el coche que conduces, el peinado o el bolso que llevas.

                  La fragancia que eliges respalda y apoya tu personalidad. Lo más habitual es que aquellas personas que son extrovertidas elijan perfumes fuertes y notorios y las personas tímidas se decanten por fragancias dulces y suaves que les hagan pasar desapercibidas.
                </p> 
                <blockquote>
                  <p>
                    La atracción sexual
                  </p>
                  
                </blockquote>
                <p>
                  Por otro lado, el olor también tiene un papel importante a la hora de incrementar el atractivo sexual de una persona. La atracción sexual está influenciada por determinados olores que no son perceptibles. Estos olores los producen las feromonas, que son unas sustancias químicas que genera nuestro cuerpo de forma natural y cuyo objetivo es atraer al sexo opuesto. Por ello y para incrementar el "sex appeal", algunas marcas de perfumes agregan feromonas artificiales a sus fragancias. 
                </p>
                <p>
                  En estos momentos aún está en discusión si estas feromonas sintéticas tienen el mismo efecto sobre el sexo opuesto que tienen las feromonas naturales. Dejando a un lado el tema de las feromonas, lo que sí está comprobado es que si llevas puesto un perfume que desprende un olor atractivo, llamarás más la atención y transmitirás sensaciones más positivas que si no lo llevas.
                </p>
                <p>
                  Al margen de estos beneficios que hemos enumerado, utilizar un perfume especial es algo que nos gusta, es divertido y nos hace sentir seguras, atractivas y sugerentes. Al fin y al cabo, llevar un buen perfume es parte de nuestra personalidad y el hecho de elegir una buena fragancia, duradera, que nos representa y que cambia sutilmente con el pasar de las horas y que se adapta al olor natural de nuestra piel es tan importante como elegir las prendas, los zapatos o los accesorios que vamos a llevar.
                </p> 
                
              </div>
            </div>
          </div>

        </div>

       


      </div>

    </div>
    <!--container end-->