<h1>Listado de todos los articulos</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Acciones</th>
  </tr>
 
  <% @all_productos.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><a href="/productos/<%= article.id %>"> Ver </a></td>

    </tr>
  <% end %>
</table>
<a href="/productos/new">
  <button  type="button" class="btn btn-success">Agregar un nuevo Producto</button>
</a>
