    <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              Nosotros
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li class="active">
                Nosostros
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

<div class="property gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
            <img src="/site/img/nosotros.jpg" alt="">
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInRight">
            <p>
            Perfumania es una nueva empresa,innovadora que te trae los mejores productos al mejor precio, manejamos las mejores marcas para ti y tu familia:
          </p>
          <p>
          Una empresa joven y dinámica que entiende la creación de fragancias de calidad. Son muchos ya los visitantes fieles de nuestro sitio y deseamos que sean muchos más en el futuro.
          </p>
          <p>
          Nuestros proyectos inmediatos: ampliación de nuestra sección de monografías dedicadas a las principales figuras de la historia con información más completa y elementos multimedia; incorporación de nuevas personalidades de rabiosa actualidad en nuestra sección de reportajes; ampliación de nuestro diccionario base; creación de un foro de documentación y consultas; y muchos más, siempre al servicio de nuestros visitantes.
          </p>
          <ul class="list-unstyled">
            <li>
              <i class="fa fa-angle-right pr-10">
              </i>
              Hugo Boss
            </li>

            <li>
              <i class="fa fa-angle-right pr-10">
              </i>
              Carolina Herrera
            </li>

            <li>
              <i class="fa fa-angle-right pr-10">
              </i>
              Hugo Boss
            </li>

            <li>
              <i class="fa fa-angle-right pr-10">
              </i>
              Carolina Herrera
            </li>

            <li>
              <i class="fa fa-angle-right pr-10">
              </i>
              Hugo Boss
            </li>

            <li>
              <i class="fa fa-angle-right pr-10">
              </i>
              Carolina Herrera
            </li>

          </ul>
          <p>
            Además de trabajar en el desarrollo de nuestro sitio, actuamos como proveedores de contenidos biográficos para diversos portales. Contacte con nosotros si necesita biografías o información biográfica o bibliográfica para su sitio y desea publicar contenidos exclusivos.
          </p>  
          <blockquote>
            <p>
              Marcamos las nuevas tendencias del mercado
            </p>
            <small>
              Perfumania
            </small>
          </blockquote>
          </div>
        </div>
      </div>
    </div>



    <!--container start-->
    
      <!-- End container -->
    </div>
