    <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              Nosotros
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li class="active">
                Nosostros
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

<div class="">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-md-6 text-center wow fadeInLeft">
            <img alt="perfumes" src="/site/img/franquicia.jpg" alt="">
          </div>
          <div class=" blog-item col-lg-6 col-md-6 col-sm-6 wow fadeInRight">
          <h1>PERFUMANIA SHOP...</h1> 
          <p align="justify"> 
            SOMOS UNA EMPRESA FUNDADA EN 2011 Y DEDICADA A DAR LO MEJOR DE NOSOTROS PARA QUE USTED Y SU FAMILIA TENGAN LA MEJOR EXPERIENCIA, SOMOS EXPERTOS EN FRAGANCIAS Y TRABAJAMOS CON LOS ESTANDARES MAS ALTOS DE CALIDAD, IGUALMENTE TE AYUDAMOS A QUE SEAS DUEÑO DE TU PROPIO NEGOCIO, TRABAJAMOS DE LA MANO CONTIGO PARA QUE CREZCAMOS COMO FAMILIA.
          <br><br><br> 
          <h1>MISION:</h1> 
          <p align="justify"> 
            OFRECEMOS A NUESTROS CLIENTES 
            PERFUMES DE PRIMERA CALIDAD A BAJO 
            COSTO. NUESTRA CALIDEZ, 
            PROFESIONALISMO Y ÉNFASIS EN LOS 
            DETALLES, GARANTIZAN SU SATISFACCIÓN Y 
            FIDELIDAD CON NUESTRA EMPRESA
          <br><br><br> 
          <h1>VISION:</h1> 
          TRABAJAMOS CADA DÍA PARA ALCANZAR
          NUESTRA META: EN 2017 SER LA PERFUMERÍA MÁS 
          PRESTIGIOSA Y RECONOCIDA DE COLOMBIA
          </p>
          
          </div>
        </div>
      </div>
      <br>
</div>




    <!--container start-->
    
      <!-- End container -->
 
